---
import MenuItem from "./MenuItem.astro";
import MenuDivider from "./MenuDivider.astro";
import MailForm from "./MailForm.astro";

const menuItems = [
    { name: "Home", link: "/" },
    { name: "About", link: "/about" },
    { name: "Portfolio", link: "/portfolio" },
    { name: "Shop", link: "/shop" },
];

const oppositeColor = "#ddd"; // Contrast color
---

<nav
    class="font-wire fixed top-0 right-0 h-screen flex flex-col justify-center items-end pr-6 text-4xl font-bold w-max w-max tracking-wide transition-all duration-300 ease-out transform text-white text-right"
>
    {
        menuItems.map((item, index) => (
            <>
                <MenuItem
                    text={item.name}
                    link={item.link}
                    color={oppositeColor}
                />
                {index < menuItems.length - 1 && (
                    <MenuDivider color={oppositeColor} paddingRight={30} />
                )}
            </>
        ))
    }

    <MenuDivider color={oppositeColor} paddingRight={30} />
    <MailForm text="Contact" />
</nav>
